<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head'); %>
</head>

<body>
    <%- include('./components/navbar') %>
        <div class="container">
            <% if (orders.length) { %>
                <% orders.forEach(order=> { %>
                    <div class="card text-center">
                        <div class="card-header">
                            Order <%- order._id%>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <% order.cars.forEach(car=> {%>
                                    <div>
                                        <%- car.car.title %> x <strong>
                                                <%- car.count%>
                                            </strong>
                                    </div>
                                    <%})%>
                            </h5>
                            <p class="card-text"><em>
                                    <%- order.user.userId.name %>
                                </em>
                                <%- order.user.userId.email %>
                            </p>
                            <p class="card-text">
                                <%- order.date.toLocaleString()%>
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            Cost: <span class="price">
                                <%- order.price%>
                            </span>
                        </div>
                    </div>

                    <% }) %>
                        <% } else { %>
                            <div>No orders</div>
                            <% } %>



        </div>
        <%- include('./components/footer'); %>
</body>