<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link href="style/style.css"> -->
    <%- include('../components/head'); %>
</head>

<body>
    <%- include('../components/navbar')%>
        <div class="container">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active btnLogin" aria-current="page" onclick="hendleShowLogin(event)">Login</a>

                </li>
                <li class="nav-item ">
                    <a class="nav-link btnRegist" onclick="hendleShowRegist(event)">Registration</a>
                </li>
            </ul>

            <!-- Login -->
            <div id="login">
                <% if (loginError) { %>
                    <p class="alert">
                        <%- loginError %>
                    </p>
                    <% } %>
                        <h2>Get in to store </h2>
                        <div>
                            <form action="/auth/login" method="POST">
                                <input type="email" id="email" name="email" class="form-control mb-3" required
                                    placeholder="Enter Email address">
                                <span data-error-message="Enter Email address"></span>

                                <input type="password" id="password" name="password" class="form-control mb-3" required
                                    placeholder="Enter password">

                                <input type="hidden" name="_csrf" value="<%-csrf%>">
                                <p><a href="/auth/reset">Forgot password?</a></p>
                                <button class="btn btn-success" type="submit">Get in</button>
                        </div>


                        </form>
            </div>

            <!-- Registration -->
            <div id="register" style="display: none;">
                <% if (registError) { %>
                    <p class="alert">
                        <%- registError %>
                    </p>
                    <% } %>
                        <h2>Create new account</h2>
                        <div>
                            <form action="/auth/register" method="POST">
                                <input type="email" id="email" name="email" class="form-control mb-3" required
                                    placeholder="Enter Email address">

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Full name</span>
                                    <input type="text" id="name" name="name" class="form-control"
                                        placeholder="Enter first and last name" required>
                                </div>

                                <input type="password" id="password" name="password" class="form-control mb-3" required
                                    placeholder="Enter password">

                                <input type="password" id="confirm" name="confirm" class="form-control mb-3" required
                                    placeholder="Confirm password">

                                <input type="hidden" name="_csrf" value="<%-csrf%>">

                                <button class="btn btn-success" type="submit">Registration</button>
                            </form>
                        </div>

            </div>

        </div>

        <script src="/app.js"></script>
</body>