<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
</head>

<body>
    <%- include('../components/navbar') %>
        <div class="container">
            <h1>Редактировать <%- car.title %>
            </h1>

            <form action="/cars/edit" method="POST">
                <div class="input-group mb-3">
                    <input id="title" name="title" type="text" class="form-control" required value="<%- car.title %>">
                </div>

                <div class="input-group mb-3">
                    <input id="price" name="price" type="number" class="form-control" required min="1"
                        value="<%- car.price %>">
                </div>

                <div class="input-group mb-3">
                    <input id="img" name="img" type="text" class="form-control" required min="1" value="<%- car.img %>">
                </div>

                <input type="hidden" name="id" value="<%- car.id %>">

                <input type="hidden" name="_csrf" value="<%-csrf%>">

                <button type="submit" class="btn btn-primary">Edit Car</button>
            </form>

            <form action="/cars/remove" method="POST">
                <input type="hidden" name="_csrf" value="<%-csrf%>">
                <input type="hidden" name="id" value="<%- car.id %>">
                <button type="button" class="btn btn-danger">Delete car</button>
            </form>


        </div>
        <%- include('../components/footer'); %>
</body>