<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
</head>

<body>
    <%- include('../components/navbar'); %>
        <div class="container">
            <div> Name of car <%- car.title %></div>
            <div>Price: <%- car.price %></div>
            <div>
                About the car: <%- car.description %>
            </div>
            <div>productionModel <%- car.productionModel %></div>
            <div>yearsModel <%- car.yearsModel %></div>
            
                <% console.log(car)%>

        </div>
        <%- include('../components/footer'); %>
</body>

</html>