<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
        <!-- <link rel="stylesheet" href="style/cars/cars.css"> -->
</head>

<body>
    <%- include('../components/navbar') %>
        <div class="container">
            <div class="windowByed">The car has been added to the cart</div>
            <% if (cars.length) { %>
                <div class="row row-cols-3 gap-0">
                    <% cars.forEach(function(car){ %>
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src=" <%- car.img %>" class="card-img-top" alt=" <%- car.title %>">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%- car.title %>
                                    </h5>
                                    <h5 class="price">
                                        <%- car.price %>
                                    </h5>
                                    <div class="btnsCars">
                                        <a href="/cars/<%-car.id.toString()%>" class="btn btn-primary">Show car</a>
                                        <% if (isAuth) { %>
                                            <a href="/cars/<%- car.id %>/edit?allow=true"
                                                class="btn btn-primary">Edit</a>
                                            <form action="/cart/add" method="POST">
                                                <input type="hidden" name="_csrf" value="<%-csrf%>">
                                                <input type="hidden" name="id" value="<%- car.id %>">
                                                <button type="submit" class="btn btn-success"
                                                    onclick="hendleShowBuy()">Buy</button>
                                            </form>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <div>No cars here!</div>
                                <% } %>
                </div>

        </div>
        <script src="jquery-3.6.0.min.js"></script>
        <script src="jQuery.js"></script>
        <%- include('../components/footer'); %>
</body>